{% extends 'listings/base.html' %}

{% block content %}

<h2>{{ listing.title }}</h2>
<ul>
    <li>Type : {{ listing.get_type_display }}</li>
    {% if listing.band %}
    <li><a href="{% url 'band-detail' listing.band.id %}">Band : {{ listing.band }}</a></li>
    {% endif %}
    <li>Annee de fabrication : {{listing.year}}</li>
    <li>Sold : {{ listing.sold|yesno }}</li>
</ul>

<p>{{ band.biography }}</p>

<a href="{% url 'listing-update' listing.id %}">Edit this listing</a>
<a href="{% url 'listing-delete' listing.id %}">Delete this listing</a>

<a href="{% url 'listing-list' %}">Retourner a tous les Listings</a>

{% endblock %}